.Page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: row;
}
.Leftside{
  width: 50vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Rightside{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 12.5vw;
  box-sizing: border-box;
}
.Img{
  width: 30vw;
}
h1{
  color: #333;
    font-family: Roboto, Arial;
    font-size:40px;
    margin:12px;
    margin-left:0;
}
h2{
  color: #999;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 300;
  margin: 8px;
  margin-left: 0;
  margin-right: 16px;
}
.FieldName{
  color: #777;
  font-family: Roboto, Arial;
  font-size:16px;
  /* font-weight: ; */
  margin:8px;
  margin-left:0;
}
.input-field{
  width: 25vw;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #999;
  padding-left:8px;
  font-size: 16px;
  color: #777;
  box-sizing: border-box;
}
.input-field:focus {
  border: 1px solid #999;
  outline: none;
}

.input-field::placeholder {
  color: #bbb;
}